{% extends 'index.html' %}
{% load widget_tweaks %} 


{% block authcontent %}


<div class="col-md-8 col-lg-6 col-xl-4">
   <div class="card bg-pattern">

        <div class="card-body p-4">
            
            <div class="text-center w-75 m-auto">
                <div class="auth-logo">
                    <a href="index.html" class="logo logo-dark text-center">
                        <span class="logo-lg">
                            <img src="../assets/images/logo-dark.png" alt="" height="22">
                        </span>
                    </a>

                    <a href="index.html" class="logo logo-light text-center">
                        <span class="logo-lg">
                            <img src="../assets/images/logo-light.png" alt="" height="22">
                        </span>
                    </a>
                </div>
                <p class="text-muted mb-4 mt-3">Don't have an account? Create your account, it takes less than a minute</p>
            </div>

            <form action="" method="post">
                {% csrf_token%}
                {% for hidden in form.hidden_fields %} 
                {{ hidden }} 
                {% endfor %}


                {% for field in form.visible_fields %}
                <div class="mb-3">
                    <label for="fullname" class="form-label">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                </div>
                {% endfor %}

                <div class="text-center d-grid">
                    <button class="btn btn-success" type="submit"> Sign Up </button>
                </div>

            </form>

        

        </div> <!-- end card-body -->
  </div>
   <!-- end card -->

    <div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-white-50">Already have an account?  <a href="{% url 'account:login' %}" class="text-white ms-1"><b>Sign In</b></a></p>
        </div> <!-- end col -->
    </div>
   <!-- end row -->

</div> <!-- end col -->



{% endblock authcontent %}


