{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{settings.name}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{settings.logo.url}}" rel="icon">
  <link href="{{settings.logo.url}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/maincss/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v4.9.1
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
<!--        <h1 class="text-light"><a href="index.html"><span>Ninestars</span></a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{% url 'account:login' %}"><img src="{{settings.logo.url}}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto" href="{% url 'app:index' %}">HOME</a></li>
          <li><a class="nav-link scrollto" href="{% url 'app:product' %}">PRODUCTS</a></li>
<!--          <li><a class="nav-link scrollto" href="{% url 'app:services' %}">SERVICES</a></li>-->
          <li><a class="nav-link scrollto" href="{% url 'app:aboutus' %}">ABOUT US</a></li>
          <li><a class="nav-link scrollto" href="#contact">CONTACT</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="scrollto" href="#"><i class="bi bi-search"></i></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2>Grow Your Brand</h2>
          <h1>With Us</h1>
         
          <div>
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>

          <h3 class="pt-4 text-light fs-3">UNLIMITED CREATIVE DESIGNS</h3>
        </div>

        <div id="carouselExampleSlidesOnly" class="carousel slide col-lg-6  order-lg-2 order-1 hero-img" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{{hero.hero_image.url}}" alt="First slide">
              </div>
              {% for data in hero_images %}
                       {% if data.hero_image %}
                            <div class="carousel-item">
                              <img class="d-block w-100" src="{{data.hero_image.url}}" alt="Second slide">
                            </div>
                        {% endif %}    
              {% endfor %}
            </div>
        </div>

      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <!-- <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="assets/img/about-img.svg" class="img-fluid" alt="" data-aos="zoom-in">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0">
            <h3 data-aos="fade-up">Voluptatem dignissimos provident quasi</h3>
            <p data-aos="fade-up" data-aos-delay="100">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
            </p>
            <div class="row">
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                <i class="bx bx-receipt"></i>
                <h4>Corporis voluptates sit</h4>
                <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
              </div>
              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <i class="bx bx-cube-alt"></i>
                <h4>Ullamco laboris nisi</h4>
                <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section> -->
    <!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 class="fw-bold">GRAPHICS</h2>
          <p>Get everything you need to brand your business, activities and events.</p>
        </div>

        <div class="row justify-content-center">

          {% for data in graphics %}

          <div class="card col-md-6 col-lg-3 d-flex p-0 align-items-stretch" style="border: 1px solid #ae8803;">
            <img src="{{data.file.url}}" alt="" class="card-img-top">
            <div class="card-body mt-3" style="background: #ae8803;">
              <h4 class="title text-white">{{data.title}}</h4>
              <p class="description text-white">{{data.description}}</p>
            </div>
          </div>
          
          
          {% endfor %}

          

<!--           <div class="card col-md-6 col-lg-3 d-flex p-0 align-items-stretch" style="border: 1px solid #ae8803;">-->
<!--            <img src="{% static 'assets/img/team/team-1.jpg' %}" alt="" class="card-img-top">-->
<!--            <div class="card-body mt-3" style="background: #ae8803;">-->
<!--              <h4 class="title text-white">Sed ut perspiciatis</h4>-->
<!--              <p class="description text-white">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla</p>-->
<!--            </div>-->
<!--          </div> -->

<!--          <div class="card col-md-6 col-lg-3 d-flex p-0 align-items-stretch" style="border: 1px solid #ae8803;">-->
<!--            <img src="{% static 'assets/img/team/team-1.jpg' %}" alt="" class="card-img-top">-->
<!--            <div class="card-body mt-3" style="background: #ae8803;">-->
<!--              <h4 class="title text-white">Sed ut perspiciatis</h4>-->
<!--              <p class="description text-white">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu-->
<!--                fugiat nulla</p>-->
<!--            </div>-->
<!--          </div> -->
        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Services Section ======= -->
    <section id="services" class="photography section-bg">
      <div class="container" data-aos="fade-up">
    
        <div class="section-title">
          <h2 class="fw-bold">PHOTOGRAPHY</h2>
          <p>Find here the best photographer for your moments, events and business.</p>
        </div>
    
        <div class="row justify-content-center">
          {% for data in photography  %}

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{{data.file.url}}" alt="" class="card-img-top"></div>
              
              <button type="button" class="btn btn-primary mt-3 w-100" style="background: #ae8803; border: 1px solid #ae8803;">{{data.title}}</button>
            </div>
          </div>
          
          {% endfor %}
          

<!--          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">-->
<!--            <div class="icon-box">-->
<!--              <div class="icon"><img src="{% static 'assets/img/team/team-1.jpg' %}" alt="" class="card-img-top"></div>-->
<!--          -->
<!--              <button type="button" class="btn btn-primary mt-3 w-100"-->
<!--                style="background: #ae8803; border: 1px solid #ae8803;">Demo</button>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">-->
<!--            <div class="icon-box">-->
<!--              <div class="icon"><img src="{% static 'assets/img/team/team-1.jpg' %}" alt="" class="card-img-top"></div>-->
<!--          -->
<!--              <button type="button" class="btn btn-primary mt-3 w-100"-->
<!--                style="background: #ae8803; border: 1px solid #ae8803;">Demo</button>-->
<!--            </div>-->
<!--          </div> -->
  
        </div>
        
    
      </div>
    </section><!-- End Services Section -->

    <section id="about" class="about p-0">
      <div class="container">
    
        <div class="row justify-content-between">
          <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <video width="500" height="350" controls>
            <source src="{{videography.file.url}}" type="video/mp4">
          </video>
          </div>
          
          {% comment %} <div class="col-lg-5 d-flex align-items-center justify-content-center about-img">
            <img src="{{videography.file.url}}" class="img-fluid" alt="" data-aos="zoom-in">
          </div> {% endcomment %}
          <div class="col-lg-6 pt-lg-3 justify-content-center">
            <h2 data-aos="fade-up" class="m-3">VIDEOGRAPHY</h2>
            <p data-aos="fade-up" data-aos-delay="100" class="m-3">
              Catch your best movement with us.
            </p>
            <button type="button" class="btn btn-secondary w-25 m-3" >More</button>
          </div>
        </div>
    
      </div>
    </section>

    <!-- ======= Portfolio Section ======= -->


    <!-- <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Check out our beautifull portfolio</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 1"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="assets/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="assets/img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bi bi-plus"></i></a>
                <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section> -->
    
    
    <!-- End Portfolio Section -->

    <!-- ======= F.A.Q Section ======= -->


    <!-- <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>F.A.Q</h2>
          <p>Frequently Asked Questions</p>
        </div>

        <ul class="faq-list" data-aos="fade-up" data-aos-delay="100">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at lectus urna duis? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius morbi enim nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec nam aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est ante in. Nunc vel risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus ornare. Varius vel pharetra vel turpis nunc eget lorem dolor? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer malesuada nunc vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut venenatis tellus in metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas fringilla phasellus faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
              </p>
            </div>
          </li>

        </ul>

      </div>
    </section> -->
    
    <!-- End F.A.Q Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team ">
      <div class="container pt-4">

        <div class="section-title" data-aos="fade-up">
          <h2 class="text-black">OUR TEAM</h2>
          <p class="text-black">We have different professional freelancers with high
           creation abliities and designs.</p>
        </div>

       
            <div class="row text-center">
              <div class="col">
                <div class="counter">
                  <i class="fa fa-code fa-2x"></i>
                  <h2 class="timer count-title count-number fs-2 fw-bold" data-to="100" data-speed="1500">{{designer}}</h2>
                  <p class="count-text ">Designers</p>
                </div>
              </div>
              <div class="col">
                <div class="counter">
                  <i class="fa fa-coffee fa-2x"></i>
                  <h2 class="timer count-title count-number fs-2 fw-bold" data-to="1700" data-speed="1500">{{photographer}}</h2>
                  <p class="count-text ">Photographers</p>
                </div>
              </div>
              <div class="col">
                <div class="counter">
                  <i class="fa fa-lightbulb-o fa-2x"></i>
                  <h2 class="timer count-title count-number fs-2 fw-bold" data-to="11900" data-speed="1500">{{videographer}}</h2>
                  <p class="count-text ">Videographers</p>
                </div>
              </div>
            </div>
      </div>
    </section>
    <!-- End Team Section -->

    <section class="photography section-bg team" style="background: #ae8803;">
      <div class="container">
        <div class="section-title">
          <h2>MANAGEMENT</h2>
        </div>
    
        <div class="row mt-5 justify-content-center">

        
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><img src="{{team.image.url}}" alt="" class="card-img-top"></div>

              <div class="w-100 justify-content-center">
                <p class="text-light fs-6 p-2" style="background: #ae8803;">MANAGING DIRECTOR</p>
              </div>
          
              
            </div>
          </div>
    
        </div>
    
    
      </div>
    </section>

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 class="text-black">Trusted  By</h2>
        </div>

        <div class="clients-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper align-items-center">
            {% for data in testmony  %}

            <div class="swiper-slide"><img src="{{data.image.url}}" class="img-fluid" alt=""></div>
            
            {% endfor %}
            
<!--             <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-7.png' %}" class="img-fluid" alt=""></div>-->
<!--            <div class="swiper-slide"><img src="{% static 'assets/img/clients/client-8.png' %}" class="img-fluid" alt=""></div> -->
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Clients Section -->

    <!-- ======= Contact Us Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Order a Service Here</h2>
          <p>Contact us then get started</p>
        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>{{settings.location}}</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>{{settings.email}}</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>{{settings.phone}}</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            
            {% if form %}

             <form method="post" action="{% url 'app:create-order' %}"  class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">{{ form.fullname.label }}</label>
                  {% render_field form.fullname class="form-control" %}
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">{{ form.email.label }}</label>
                  {% render_field form.email class="form-control" %}
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">{{ form.phone.label }}</label>
                  {% render_field form.phone class="form-control" %}
                </div>
                <div class="form-group col-md-6 mt-3 mt-md-0">
                  <label for="name">{{ form.date_start.label }}</label>
                  {% render_field form.date_start type="date" class="form-control" %}
                </div>
              </div>
              <div class="form-group mt-3">
                <label for="name">{{ form.service.label }}</label>
                {% render_field form.service class="form-control" %}
              </div>
               <div class="form-group mt-3">
                <label for="name">{{ form.description.label }}</label>
                {% render_field form.description class="form-control" %}
              </div>
              <div class="form-group mt-3">
                <label for="name">{{ form.date_delivery.label }}</label>
                {% render_field form.date_delivery type="date" class="form-control" %}
              </div>
              <div class="my-3">
                
                <div>

                  {% include 'includes/alert.html' %}

                </div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
            
            {% endif %}
           
          </div>

        </div>

      </div>
    </section><!-- End Contact Us Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <div class="social-links mt-3 pt-5">
              <a href="{{twitter.link}}" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="{{facebook.link}}" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="{{instagram.link}}" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="{{tiktok.link}}" class="google-plus"><i class="bx bxl-tiktok"></i></a>
              <a href="{{linkedin.link}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>ABOUT</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">History</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Brand Guidelines</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms & Conditions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>SERVICES</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">How to Order</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our Product</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Order Status</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Payment Method</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>OTHER</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Help</a></li>
            </ul>
          </div>

          

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>{{settings.name}}</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Developed  by <a href="https://bootstrapmade.com/">goddyDev</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!--  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>-->

  <!-- Template Main JS File -->
  <script src="{% static 'assets/mainjs/main.js' %}"></script>

</body>

</html>