{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{{settings.name}}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{settings.logo.url}}" rel="icon">
  <link href="{{settings.logo.url}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/maincss/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Ninestars - v4.9.1
  * Template URL: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        {% comment %} <h1 class="text-light"><a href="index.html"><span>Ninestars</span></a></h1> {% endcomment %}
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{% url 'app:index' %}"><img src="{{settings.logo.url}}" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="{% url 'app:index' %}">HOME</a></li>
          <li><a class="nav-link scrollto" href="#portfolio">PRODUCTS</a></li>
          {% comment %} <li><a class="nav-link scrollto" href="{% url 'app:services' %}">SERVICES</a></li> {% endcomment %}
          <li><a class="nav-link scrollto" href="{% url 'app:aboutus' %}">ABOUT US</a></li>
          <li><a class="nav-link scrollto" href="{% url 'app:index' %}">CONTACT</a></li>
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="scrollto" href="#"><i class="bi bi-search"></i></a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Our Products</h2>
          <ol>
            <li><a href="{% url 'app:index' %}">Home</a></li>
            <li>Products</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs Section -->

    <section class="inner-page">
      <div class="container">
        <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

       

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Graphics</li>
              <li data-filter=".filter-card">Photography</li>
              <li data-filter=".filter-web">Videography</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            {% for data in graphics  %}

            <div class="portfolio-wrap mb-3">
              <img src="{{data.file.url}}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{{data.file.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{data.title}}"><i class="bi bi-eye"></i></a>
                <a href="#" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>{{data.title}}</h4>
                <p>{{data.category}}</p>
              </div>
            </div>
            
            {% endfor %}
            
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
           {% for data in videography  %}

            <div class="portfolio-wrap mb-3">
              <video class="img-fluid" controls>
                  <source src="{{data.file.url}}" type="video/mp4">
              </video>
              <div class="portfolio-links">
                <a href="{{data.file.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{data.title}}"><i class="bi bi-play"></i></a>
                <a href="#" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>{{data.title}}</h4>
                <p>{{data.category}}</p>
              </div>
            </div>
            
            {% endfor %}
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
           {% for data in photography  %}

            <div class="portfolio-wrap mb-3">
              <img src="{{data.file.url}}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{{data.file.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{data.title}}"><i class="bi bi-eye"></i></a>
                <a href="#" title="More Details"><i class="bi bi-link"></i></a>
              </div>
              <div class="portfolio-info">
                <h4>{{data.title}}</h4>
                <p>{{data.category}}</p>
              </div>
            </div>
            
            {% endfor %}
          </div>

        </div>

      </div>
    </section>
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
   <footer id="footer">

    

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-links">
            <div class="social-links mt-3 pt-5">
              <a href="{{twitter.link}}" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="{{facebook.link}}" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="{{instagram.link}}" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="{{tiktok.link}}" class="google-plus"><i class="bx bxl-tiktok"></i></a>
              <a href="{{linkedin.link}}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

          

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>ABOUT</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">History</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our Team</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Brand Guidelines</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms & Conditions</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>SERVICES</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">How to Order</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Our Product</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Order Status</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Payment Method</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>OTHER</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Contact Us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Help</a></li>
            </ul>
          </div>

          

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>{{settings.name}}</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->
        Developed  by <a href="https://bootstrapmade.com/">goddyDev</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
   <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/mainjs/main.js' %}"></script>

</body>

</html>