{% extends 'master.html' %}
{% load static %}
{% load widget_tweaks %} 

{% block content %}


 <!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'app:dashboard' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Order</li>
                </ol>
            </div>
            <h4 class="page-title">Orders</h4>
        </div>
    </div>
</div>     
<!-- end page title --> 
<div class="row">
    {% include 'includes/alert.html' %}
    <div class="col-lg-12 mt-3">
        <div class="card">
            <div class="card-body">
                <div class="row justify-content-between mb-2">
                    <div class="col-auto">
                       
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success waves-effect waves-light mb-2 me-1"  data-bs-toggle="modal" data-bs-target="#standard-modal" data-bs-placement="top" data-bs-title="Filter"><i class="mdi mdi-filter" data-bs-toggle="tooltip"  data-bs-placement="top" data-bs-title="Filter"></i></button>
                            {% comment %} <button type="button" class="btn btn-danger waves-effect waves-light mb-2" data-bs-toggle="modal" data-bs-target="#custom-modal">Add Contact</button> {% endcomment %}
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">

                     <table id="selection-datatable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Service</th>
                                <th>Start Date</th>
                                <th>Delivery Date</th>
                                <th>Status</th>
                                <th>Received By</th>
                                <th>Created at</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    
                    
                        <tbody>

                       {% for data in order  %}
                            <tr>
                                <td>{{data.fullname}}</td>
                                <td> {{data.service}}</td>
                                <td> {{data.date_start}}</td>
                                <td> {{data.date_delivery}}</td>
                                <td> {{data.status}}</td>
                                <td> {{data.received_by}}</td> 
                                <td> {{data.created_date}}</td>
                                    <td>
                                        
                                        
                                        {% if not data.status == "Delivery" %}
                                        <a href="{% url 'app:confirm_order' data.id %}" class="action-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Accept Order"> <i class="mdi mdi-checkbox-multiple-marked"></i></a>
                                         <a href="{% url 'app:cancel_order' data.id %}" class="action-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Cancel Order"> <i class="mdi mdi-cancel"></i></a>
                                         <a href="{% url 'app:complete_order' data.id %}" class="action-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Complete and Deliver Order"> <i class="mdi mdi-truck-delivery"></i></a>
                                            
                                        {% endif %}
                                            
                                       
                                    </td>
                            </tr>
                        {% endfor %}
                            
                        </tbody>
                        </table>






                  
                </div>


            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->

    </div>
</div>
<!-- end row -->


 <!-- Modal -->
        <div class="modal fade" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-light">
                        <h4 class="modal-title" id="myCenterModalLabel">Add Contacts</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-4">
                        <form action="" method="post">
                            {% csrf_token %}
                             {% for hidden in form.hidden_fields %} 
                            {{ hidden }} 
                            {% endfor %}
                           {% for field in form.visible_fields %}
                            <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}<span
                                class="text-danger">*</span></label> {{ field|add_class:'form-control' }} {% for error in field.errors %}
                        <ul class="parsley-errors-list filled" id="parsley-id-27" aria-hidden="false">
                            <li class="parsley-required">{{ error }}</li>
                        </ul>
                        {% endfor %}
                    </div>
                            {% endfor %}
                            <div class="text-end">
                                <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                             
                            </div>
                        </form>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

{% endblock content %}


